<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello Admin <%= user.username %></title>
    <style>
      .none-class {
        display: none;
      }
      .form-container {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: transparent;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
      }
    </style>
    <%- include('./partials/daisyui.ejs') %>
  </head>
  <body class="bg-base-200">
    <%- include('./partials/navbar.ejs') %>
    <main class="p-6 min-h-[70vh]">
      <div>
        <h2 class="text-2xl font-semibold mb-6">Products</h2>
      </div>
      <%- include('./partials/productDisplay.ejs') %>
    </main>
    <footer class="mt-8">
      <hr class="my-6" />
      <p class="text-center text-gray-500">
        &copy; <%= new Date().getFullYear() %> ShahmeerJS . All rights reserved.
      </p>
    </footer>
    <div class="none-class" id="container">
      <form
        class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-6"
        enctype="multipart/form-data"
      >
        <div class="heading">
          <h2></h2>
        </div>
        <label class="label" for="name">Name</label>
        <input class="input w-full" type="text" id="name" name="name" />

        <label class="label" for="description">Description</label>
        <input
          class="input w-full"
          type="text"
          id="description"
          name="description"
        />

        <label class="label" for="price">Price</label>
        <input class="input w-full" type="number" id="price" name="price" />

        <label class="label" for="imageURL">Image Url</label>
        <input class="input w-full" type="file" id="imageURL" name="imageURL" />

        <label class="label" for="quantity">Quantity</label>
        <input
          class="input w-full"
          type="number"
          id="quantity"
          name="quantity"
        />

        <button class="btn btn-neutral" id="form-btn"></button>
      </form>
    </div>
    <%- include('./partials/script.ejs') %>
    <script>
      const name = document.getElementById("name");
      const description = document.getElementById("description");
      const price = document.getElementById("price");
      const imageURL = document.getElementById("imageURL");
      const quantity = document.getElementById("quantity");
      const container = document.getElementById("container");
      const heading = document.querySelector(".heading h2");
      const formBtn = document.getElementById("form-btn");
      let productId;

      function openContainer(headingText, btnText = "Save") {
        heading.innerText = headingText;
        formBtn.innerText = btnText;
        container.classList.add("form-container");
      }

      function getProduct() {
        let product = {};
        product.name = name.value.trim();
        product.description = description.value.trim();
        product.price = parseInt(price.value);
        product.imageURL = imageURL.files[0];
        product.quantity = parseInt(quantity.value);
        console.log(product);
        if (
          (product.name != "") &
          (product.name != undefined) &
          (product.description != "") &
          (product.description != undefined) &
          (product.price != null) &
          (product.price != undefined) &
          (product.quantity != null) &
          (product.quantity != undefined)
        ) {
          return product;
        } else {
          toast("All fields are required!", "error");
          return;
        }
      }

      function addProduct() {
        let product = getProduct();
        let fileInput = document.getElementById("imageURL");

        const formData = new FormData();
        formData.append("imageURL", fileInput.files[0]);

        for (let key in product) {
          formData.append(key, product[key]);
        }

        fetch("/products", {
          method: "POST",
          body: formData,
        })
          .then((res) => res.json())
          .then((data) => {
            toast("Product added successfully", "success");
            window.location.reload();
          })
          .catch((error) => {
            toast(error.message, "error");
          });
      }

      function deleteProduct(productId) {
        console.log(productId);
        if (confirm("Are you sure you want to delete this product?")) {
          fetch(`/products/${productId}`, {
            method: "DELETE",
          })
            .then((response) => response.json())
            .then((data) => {
              console.log(data);

              if (data.success) {
                window.location.reload();
              } else {
                toast(data.message, "error");
              }
            })
            .catch((error) => {
              console.error("Error:", error);
              toast(error.message, "error");
            });
        }
      }
      function editProduct(product) {
        product = JSON.parse(product);
        productId = product._id;
        name.value = product.name;
        description.value = product.description;
        price.value = product.price;
        imageURL.files[0] = product.imageURL;
        quantity.value = product.quantity;
        openContainer(`Edit Product - ${product.name}`);
      }
      function closeContainer() {
        container.classList.remove("form-container");
      }
      window.onclick = function (event) {
        if (event.target == container) {
          closeContainer();
        }
      };
      const editSave = () => {
        let product = getProduct();
        if (product) {
          fetch(`/products/${productId}`, {
            method: "PUT",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(product),
          })
            .then((response) => response.json())
            .then((data) => {
              toast("Product updated successfully", "success");
            })
            .catch((error) => {
              toast(error.message, "error");
            });
        } else {
          return;
        }
      };
      formBtn.addEventListener("click", (e) => {
        e.preventDefault();
        if (formBtn.innerText === "Save") {
          editSave();
        } else {
          addProduct();
        }
        closeContainer();
      });
    </script>
    <%- include('./partials/errorHandle.ejs') %>
  </body>
</html>
