<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home - <%= user.username %></title>
    <style></style>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@5"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body class="bg-base-200 p-6">
    <header class="flex justify-between items-center border-b-2 p-2 mb-8">
      <h1 class="text-3xl font-bold mb-6">
        Welcome, <%= user.username %>!
      </h1>
      <a class="font-bold text-[3vh] pb-4" href="/cart">🛒</a>
    </header>
    <main>
      <div>
        <h2 class="text-2xl font-semibold mb-6">Products</h2>
      </div>

      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        <% products.forEach(product => { %>
        <div class="card bg-base-100 shadow-sm hover:shadow-md transition">
          <figure>
            <img
              src="<%= JSON.stringify(product.imageURL) %>"
              alt="<%= product.name %>"
              class="h-64 object-cover w-full"
            />
          </figure>
          <div class="card-body">
            <h2 class="card-title"><%= product.name %></h2>
            <p><%= product.description %></p>
            <div class="w-full flex justify-between">
              <div
                class="quantity flex items-center justify-between gap-2 my-2 w-24"
              >
                <div dir="ltr">
                  <button
                    class="w-2 h-8 rounded-s-lg text-center font-bold btn btn-outline btn-accent"
                    onclick="decreaseQuantity('<%= product._id %>')"
                  >
                    -
                  </button>
                </div>
                <p
                  class="quantity-text w-2 text-center"
                  id="<%= product._id %>"
                >
                  1
                </p>
                <div dir="rtl">
                  <button
                    class="w-2 h-8 rounded-s-lg text-center font-bold btn btn-outline btn-accent"
                    onclick="increaseQuantity('<%= product._id %>')"
                  >
                    +
                  </button>
                </div>
              </div>
              <span class="text-lg font-semibold">$<%= product.price %></span>
            </div>
            <div class="card-actions justify-end">
              <button
                class="btn btn-outline btn-primary"
                onclick="addToCart(<%= JSON.stringify(product) %>)"
              >
                Add
              </button>
              <button
                class="btn btn-outline btn-error"
                onclick="removeFromCart(<%= JSON.stringify(product._id) %>)"
              >
                Remove
              </button>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
      <div class="toast toast-top toast-end">
        <% if (typeof err !== 'undefined' && err) { %> //settimeout to remove
        the alert after 3 seconds
        <div class="alert alert-error" id="errorToast">
          <div>
            <span><%= err %></span>
          </div>
        </div>
        <% } %>
      </div>
    </main>
    <footer class="mt-8">
      <hr class="my-6" />
      <p class="text-center text-gray-500">
        &copy; <%= new Date().getFullYear() %> ShahmeerJS . All rights reserved.
      </p>
    </footer>
    <script>
      let quantity = 1;

      const toast = (msg, type) => {
        const toastDiv = document.createElement("div");
        toastDiv.classList.add("toast", "toast-bottom", "toast-end");
        const toastInnerDiv = document.createElement("div");
        toastInnerDiv.className = `alert alert-${type}`;
        toastInnerDiv.innerHTML = `<div><span>${msg}</span></div>`;
        toastDiv.appendChild(toastInnerDiv);
        document.body.appendChild(toastDiv);
        setTimeout(() => {
          document.body.removeChild(toastDiv);
        }, 3000);
      };

      function capitalizeFirstLetter(str) {
        if (typeof str !== "string" || str.length === 0) {
          return str; // Handle empty strings or non-string inputs
        }
        return str.charAt(0).toUpperCase() + str.slice(1);
      }
      const errorToast = document.getElementById("errorToast");
      if (errorToast) {
        setTimeout(() => {
          errorToast.style.display = "none";
        }, 3000);
      }
      function addToCart(product) {
        quantity = parseInt(
          document.getElementById(`${product._id}`).textContent
        );
        let cart = JSON.parse(localStorage.getItem("cart")) || [];
        let existingItem = cart.find(
          (item) => item.product._id === product._id
        );
        if (existingItem) {
          existingItem.quantity += quantity;
          toast(
            `${capitalizeFirstLetter(product.name)} quantity updated in cart!`,
            "success"
          );
        } else {
          cart.push({ product: product, quantity: quantity });
          toast(
            `${capitalizeFirstLetter(product.name)} added to cart!`,
            "success"
          );
        }
        localStorage.setItem("cart", JSON.stringify(cart));
      }
      function removeFromCart(productId) {
        quantity = parseInt(
          document.getElementById(`${productId}`).textContent
        );
        let cart = JSON.parse(localStorage.getItem("cart")) || [];
        const updatedCart = cart.filter(
          (item) => item.product._id !== productId
        );
        localStorage.setItem("cart", JSON.stringify(updatedCart));
        toast(`Item removed from cart!`, "error");
      }
      function increaseQuantity(id) {
        quantity = parseInt(document.getElementById(`${id}`).textContent);
        let quantity_text = document.getElementById(`${id}`);
        quantity++;
        quantity_text.textContent = quantity;
      }
      function decreaseQuantity(id) {
        quantity = parseInt(document.getElementById(`${id}`).textContent);
        let quantity_text = document.getElementById(`${id}`);
        if (quantity > 1) {
          quantity--;
          quantity_text.textContent = quantity;
        }
      }
    </script>
  </body>
</html>
